.form {
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
}
form {
    border-radius: 10px;
    border: solid 3px #e0e0e0
}
.input-box {
    height: 5rem;
    border: none;
}
.input-close {
    border-radius: 20px;
}